<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Welcome to Clubby Framework</title>
</head>
<body>
    <div id="App">
        <b-container fluid>
            <b-row class="vh-100 justify-content-md-center" align-v="center">
                <b-col cols="4" class="text-center">
                    <b-row>
                        <b-col cols="12">
                            <img th:src="@{/public/img/validate-email.gif}" alt="Validate your email">
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="12">
                            <h2>Please validate your email.</h2>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
        </b-container>
    </div>
    <script src="/public/js/main.js"></script>
</body>
</html>