@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');

$bar-color: #010326;
$text-color: #F2F2F2;
$color-1: #171140;
$color-2: #010326;
$color-3: #F25C05;
$color-4: #F24405;
$color-5: #F2F2F2;


