
.page-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
  z-index: 999;
}

.splash-logo{
  background-image: url('/public/img/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 160px;
  height: 40px;
  animation: up 1s infinite 0s ease;
}

.page-loader-loaded{
    animation: close 1s forwards 0s ease-in-out;
}

.page-loader-complete{
    display: none;
}

.btn-color3{
  background-color: $color-3 !important;
  border-color: $color-3 !important;
  &:hover{
    background-color: $color-4 !important;
    border-color: $color-4 !important;
  }
}

@keyframes close {
    0%{
        transform: scale(1.0);
        opacity: 100%;
    }
    100%{
        transform: scale(2.0);
        opacity: 0%;
        display: none;
    }
}

@keyframes up {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 10%;      
  }
}
