<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <th:block th:replace="fragments/scripts::styles"></th:block>
</head>
<body>
    <div th:replace="fragments/scripts::splash"></div>
    <div id="App">
        <div th:replace="fragments/header::header"></div>
        <b-container>
            <b-row class="vh-100" align-v="center">
                <b-col cols=12>
                    <profile 
                        th:name = "${user.profile.name}"
                        th:location = "${user.profile.current_location}"
                        th:member-since = "${#dates.format(user.profile.created_at, 'MMMM yyyy')}"
                        th:birthday = "${#dates.format(user.profile.birthday, 'dd MMMM yyyy')}"
                        th:biography = "${user.profile.biography}"
                        th:username = "${user.username}"
                    ></profile>
                </b-col>
            </b-row>
        </b-container>
        <div th:replace="fragments/footer::footer"></div>
    </div>
    <div th:replace="fragments/scripts::scripts"></div>
    <script src="/public/js/main.js"></script>
</body>
</html>