<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <th:block th:fragment="styles">
        <link rel="stylesheet" th:href="@{'/public/css/style.css'}">
    </th:block>
</head>
<body>
    <div th:fragment="splash" class="page-loader" id="pageLoader">
        <div class="splash-logo"></div>
    </div> 
    <th:block th:fragment="scripts">
        <script th:src="@{'/public/js/splash.js'}"></script>
        <script th:src="@{'/public/js/main.js'}"></script>
    </th:block>
</body>
</html>